{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% block title %}Home{% endblock %} | AwesomeBlog</title>
		<meta content="" name="description" />
		<meta content="" name="keywords" />

		<!-- Favicons -->
		<link href="{% static 'app/img/awesome.png' %}" rel="icon" />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>

		<!-- Vendor CSS Files -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>

		<!-- Template Main CSS Files -->
		<link rel="stylesheet" href="{% static 'app/css/variables.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/overrides.css' %}" />

		<!-- =======================================================
		* Template Name: ZenBlog
		* Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
		* Updated: Mar 17 2024 with Bootstrap v5.3.3
		* Author: BootstrapMade.com
		* License: https:///bootstrapmade.com/license/
		======================================================== -->

		{% block head %} {% endblock %}
	</head>
	<body>
		<!-- ======= Header ======= -->
		<header id="header" class="header d-flex align-items-center fixed-top">
			<div
				class="container-fluid container-xl d-flex align-items-center justify-content-between"
			>
				<div class="position-relative d-flex align-items-center">
					<a href="/" class="logo d-flex align-items-center">
						<img src="{% static 'app/img/awesome.png' %}" alt="">
						<h2 class="header-title">AwesomeBlog</h2>
					</a>
					{% if search_form %}
						<!-- ======= Search Form ======= -->
						<form action="/search" method="post" class="search-form">
							{% csrf_token %}
							<input type="text" placeholder="Search" class="form-control" id="{{ comment_form.query.auto_id }}" name="{{ search_form.query.html_name }}" />
							<input type="submit" hidden />
						</form>
						<!-- End Search Form -->
					{% endif %}
				</div>

				<nav id="navbar" class="navbar">
					<ul>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
				<!-- .navbar -->

				<div class="position-relative d-flex align-items-center">
					{% if request.user.is_authenticated %}
						<p class="logged-in-user">Welcome, <strong>{{ request.user.username }}</strong>!</p>
						{% if request.user.author %}
							<img class="logged-in-img" src={{ request.user.author.image.url }} alt="" class="img-fluid" />
						{% endif %}
						<a href="{% url 'logout' %}" class="logo d-flex align-items-center">
							<button class="btn btn-primary">Log Out</button>
						</a>
					{% else %}
						<a href="{% url 'login' %}" class="logo d-flex align-items-center">
							<button class="btn btn-primary">Log In</button>
						</a>
					{% endif %}
				</div>
			</div>
		</header>
		<!-- End Header -->

		<main id="main">
			{% block content %} {% endblock %}
		</main>

		<!-- ======= Footer ======= -->
		<footer id="footer" class="footer">
			<div class="footer-content">
				<div class="container">
					<div class="row g-5">
						<div class="col-lg-4">
							<h3 class="footer-heading">AwesomeBlog</h3>
							<p>
								Dive into a world of inspiration at AwesomeBlog! From
								cutting-edge tech to thrilling gaming insights, explore
								captivating content designed to spark curiosity and creativity.
								Join our vibrant community and embark on an adventure of
								discovery today!
							</p>
						</div>

						<div class="col-6 col-lg-2">
							<h3 class="footer-heading">Navigation</h3>
							<ul class="footer-links list-unstyled">
								<li>
									<a href="/about"><i class="bi bi-chevron-right"></i> About</a>
								</li>
								<li>
									<a href="/contact"
										><i class="bi bi-chevron-right"></i> Contact</a
									>
								</li>
							</ul>
						</div>
						<div class="col-6 col-lg-2">
							{% if footer_tags %}
								<h3 class="footer-heading">Categories</h3>
								<ul class="footer-links list-unstyled">
									{% for tag in footer_tags.all %}
										<li>
											<a href="{% url "filtered_posts_list" %}?tag={{tag.slug}}">
												<i class="bi bi-chevron-right"></i> {{tag.name}}
											</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>

						<div class="col-lg-4">
							{% include "app/subscription_form.html" %}   
						</div>
					</div>
				</div>
			</div>

			<div class="footer-legal">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
							<div class="copyright">
								© Copyright <strong><span>ZenBlog</span></strong
								>. All Rights Reserved
							</div>

							<div class="credits">
								<!-- All the links in the footer should remain intact. -->
								<!-- You can delete the links only if you purchased the pro version. -->
								<!-- Licensing information: https://bootstrapmade.com/license/ -->
								<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
								Designed by
								<a href="https://bootstrapmade.com/">BootstrapMade</a>
							</div>
						</div>

						<div class="col-md-6">
							<div class="social-links mb-3 mb-lg-0 text-center text-md-end">
								<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
								<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
								<a href="#" class="instagram"
									><i class="bi bi-instagram"></i
								></a>
								<a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
								<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Vendor JS Files -->
		{% comment %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
		{% endcomment %}
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

		<!-- Template Main JS File -->
		<script src="{% static 'app/js/main.js' %}" id="main"></script>
	</body>
</html>
