{% extends 'base.html' %} 

{% block title %}Contact{% endblock %} 

{% block content %}
<section id="contact" class="contact mb-5">
	<div class="container" data-aos="fade-up">
		<div class="row">
			<div class="col-lg-12 text-center mb-5">
				<h1 class="page-title">Contact</h1>
			</div>
		</div>

		<div class="row gy-4">
			<div class="col-md-4">
				<div class="info-item">
					<i class="bi bi-geo-alt"></i>
					<h3>Address</h3>
					<address>{{ contact_info.address }}</address>
				</div>
			</div>
			<!-- End Info Item -->

			<div class="col-md-4">
				<div class="info-item info-item-borders">
					<i class="bi bi-phone"></i>
					<h3>Phone Number</h3>
					<p><a href="tel:+155895548855">{{ contact_info.phone }}</a></p>
				</div>
			</div>
			<!-- End Info Item -->

			<div class="col-md-4">
				<div class="info-item">
					<i class="bi bi-envelope"></i>
					<h3>Email</h3>
					<p><a href="mailto:info@example.com">{{ contact_info.email }}</a></p>
				</div>
			</div>
			<!-- End Info Item -->
		</div>

		<div class="form mt-5">
			<form action="/contact" method="post" role="form" class="php-email-form">
				{% csrf_token %}
				<div class="row">
					<div class="form-group col-md-6">
						<input
							type="text"
							name="{{ contact_message_form.name.html_name }}"
							class="form-control rounded"
							id="{{ contact_message_form.name.auto_id }}"
							placeholder="Your Name"
							required
						/>
					</div>
					<div class="form-group col-md-6">
						<input
							type="email"
							class="form-control rounded"
							name="{{ contact_message_form.email.html_name }}"
							id="{{ contact_message_form.email.auto_id }}"
							placeholder="Your Email"
							required
						/>
					</div>
				</div>
				<div class="form-group">
					<input
						type="text"
						class="form-control rounded"
						name="{{ contact_message_form.subject.html_name }}"
						id="{{ contact_message_form.subject.auto_id }}"
						placeholder="Subject"
						required
					/>
				</div>
				<div class="form-group">
					<textarea
						class="form-control rounded"
						id="{{ contact_message_form.message.auto_id }}"
						name="{{ contact_message_form.message.html_name }}"
						rows="5"
						placeholder="Message"
						required
					></textarea>
				</div>

				<button type="submit" class="rounded">Send Message</button>
			</form>
		</div>
		<!-- End Contact Form -->
	</div>
</section>
{% endblock %}
