{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block content %}
<div class="container">
	<div class="layout">
		<!-- left layout -->
		<div class="left">
			<div class="page-top">
				<div class="top flex">
					<div class="page-name">
						{% comment %} <a href="/" class="learn">
							<span class="material-icons"> keyboard_return </span> Go back
						</a> {% endcomment %}
						<h1>Blog</h1>
					</div>
					<div class="search-bar s-active">
						<input type="text" placeholder="Search" />
						<div class="animated-search">
							<i class="uil uil-search"></i>
						</div>
					</div>
				</div>
			</div>

			<section class="sp">
				<div class="container">
					<div class="grid-2 blog">
						{% for post in posts %}
						<!-- card -->
						<a href={% url "post_details" post.slug %}>
							<div class="card">
								<div class="post-img">
									<img src="{{ post.image.url }}" alt="" />
									{% if post.tags.all.0 %}
										<div class="tag">{{post.tags.all.0.name}}</div>
									{% endif %}
								</div>
								<div class="card-content">
										<h3>{{ post.title }}</h3>
									<div class="author">
										<div class="profile-pic">
											<img src="../images/author.svg" alt="" />
										</div>
										<div class="details">
											<p>Author name</p>
											<small>June 20, 2022</small>
										</div>
									</div>
								</div>
							</div>
						</a>
						<!-- card end-->
						{% endfor %}
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

{% endblock %}
