{% extends 'base.html' %} 

{% block title %}{{ post.title }}{% endblock %} 

{% block content %}
<div class="container">
	<div class="layout">
		<!-- left layout -->
		<div class="left">
			<div class="page-top">
				<div class="top flex">
					<div class="page-name">
						<a href="/" class="learn">
							<span class="material-icons"> keyboard_return </span> Go back
						</a>
						<h1>{{ post.title }}</h1>
					</div>
				</div>
			</div>

			<center>
				<div class="typo">
					{% comment %} <h1 class="title blog-title">{{ post.title }}</h1> {% endcomment %}
					<div class="timeline">
						<div class="track">
							<i class="uil uil-clock"></i>
							<p class="time">June 10, 2022</p>
						</div>
						<div class="track">
							<i class="uil uil-users-alt"></i>
							<p class="view-count">{{ post.views_count }} view{{ post.views_count | pluralize:'s' }}</p>
						</div>
						<div class="track">
							<form action="" method="POST">
								<button type="submit" class="btn btn-info">
									<i class="uil uil-bookmark-full"></i>
									<p class="bookmark">Bookmark</p>
									<!-- REMOVE BOOKMARK
					  <i class="fa-solid fa-bookmark"></i> -->
								</button>
							</form>
						</div>
					</div>
				</div>
			</center>
			<section class="mt">
				<div class="container">
					<!-- blog post -->
					<div class="blog-post">
						<div class="post-img blog-img">
							<img src="{{ post.image.url }}" alt="" />
						</div>
						<div class="blog-post-content">
							<p>
								{{ post.body }}
							</p>
							<div class="blog-tags">
								{% for tag in post.tags.all %}
									<a href={% url "tag_posts_list" tag.slug %}>
										<div class="tag">{{tag.name}}</div>
									</a>
								{% endfor %}
							</div>
							<div class="social-share">
								<div class="reactions">
									<div class="likes">
										<i class="uil uil-heart"></i> <span>200</span>
									</div>
									<div class="total-comments">
										<i class="uil uil-comment-alt"></i>
										<span>10</span>
									</div>
								</div>
								{% comment %} <div class="share">
									<div class="social">
										<a href="#">
											<i class="fa-brands fa-facebook-f"></i>
										</a>
										<a href="#">
											<i class="fa-brands fa-instagram"></i>
										</a>
										<a href="#">
											<i class="fa-brands fa-linkedin-in"></i>
										</a>
										<a href="#">
											<i class="fa-brands fa-twitter"></i>
										</a>
									</div>
								</div> {% endcomment %}
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- left layout end -->
	</div>
</div>
{% endblock %}
