{% extends 'base.html' %} 

{% load static %} 

{% block title %}Home{% endblock %} 

{% block content %}
<!-- ======= Hero Slider Section ======= -->
<section id="hero-slider" class="hero-slider">
	<div class="container-md" data-aos="fade-in">
		<div class="row">
			<div class="col-12">
				<div class="swiper sliderFeaturedPosts">
					<div class="swiper-wrapper">

						{% for post in popular_posts %}

							<div class="swiper-slide">
								<a 
									href={% url "post_details" post.slug %} 
									class="img-bg d-flex align-items-end" 
									style="background-image: url('{{ post.image.url }}');"
								>
									<div class="img-bg-inner">
										<h2>{{ post.title }}</h2>
										<p>{{ post.body|slice:'0:200' }}...</p>
									</div>
								</a>
							</div>

						{% endfor %}

					</div>
					<div class="custom-swiper-button-next">
						<span class="bi-chevron-right"></span>
					</div>
					<div class="custom-swiper-button-prev">
						<span class="bi-chevron-left"></span>
					</div>

					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Hero Slider Section -->

<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
	<div class="container">
		<div class="col-lg-12 posts-list row">
			<h1>Latest Posts</h1>
			{% for post in latest_posts %}
				{% include "app/post_card.html" with post=post %}
			{% endfor %}
		</div> <!-- End .row -->
	</div>
</section> <!-- End Post Grid Section -->
{% endblock %}
