{% extends 'base.html' %} 

{% load static %}

{% block title %}{{ post.title }}{% endblock %} 

{% block content %}
<section class="single-post-content">
	<div class="container">
	  <div class="row">
		<div class="col-md-12 post-content" data-aos="fade-up">

		  	<!-- ======= Single Post Content ======= -->
			<div class="single-post">
				<div class="post-meta">
					<span class="date">{{ post.views_count }} view{{ post.views_count | pluralize:'s' }}</span> 
					<span class="mx-1">&bullet;</span> 
					<span>Jul 5th '22</span>
					<span class="mx-1">&bullet;</span> 
					{% for tag in post.tags.all %}
						<a href="{% url "tag_posts_list" %}?tag={{tag.slug}}">
							<span class="date">
								{{tag.name}}
							</span> 
						</a>
						{% if not forloop.last %}
							<span class="mx-1">&bullet;</span> 
						{% endif %}
					{% endfor %}
				</div>
				<h1 class="mb-5">{{ post.title }}</h1>
				<img src="{{ post.image.url }}" alt="" class="img-fluid">
				<p>
					{{ post.body }}
				</p>
			</div>
			<!-- End Single Post Content -->

			 {% include "app/post_comments.html" %}   
		</div>
	  </div>
	</div>
  </section>
{% endblock %}
