{% load static %}

<div class="user-comment">
	<div class="author">
		<div class="profile-pic">
			<img src={% static 'app/images/author.svg' %} alt="" />
		</div>
		<div class="details">
			<p>Author name</p>
			<small>June 20, 2022</small>
		</div>
	</div>
	<div class="comment-sec-main">
		<div class="comment-sec">
			<div class="comment">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
					magnam minima harum, dignissimos ipsa vero sequi ipsam, distinctio
					quisquam quo cupiditate sed recusandae expedita quod iste maiores
					rerum. Eaque, dignissimos.
				</p>
			</div>
			<div class="reply">
				<button onclick="toggleDiv(this)">Reply</button>
			</div>
			<div class="comment-box" id="comment-reply-box">
				<h3>Reply to comment</h3>
				<p>
					Your email address will not be published. Required fields are
					marked<span>*</span>
				</p>
				<form method="POST">
					<textarea
						name="content"
						cols="40"
						rows="10"
						placeholder="Type your comment...."
						required
						id="id_content"
					>
					</textarea>
					<div class="grid-3">
						<input
							type="text"
							name="name"
							maxlength="200"
							placeholder="Name"
							required
							id="id_name"
						/>
						<input
							type="text"
							name="email"
							maxlength="200"
							placeholder="Email"
							required
							id="id_email"
						/>
						<input
							type="text"
							name="website"
							maxlength="200"
							placeholder="Website"
							id="id_website"
						/>
					</div>

					<button class="btn btn-primary rounded">Post Reply</button>
				</form>
			</div>
		</div>

		<div class="public-reply">
			<div class="author">
				<div class="profile-pic">
					<img src={% static 'app/images/author.svg' %} alt="" />
				</div>
				<div class="details">
					<p>Author name</p>
					<small>June 20, 2022</small>
				</div>
			</div>
			<div class="comment">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
					magnam minima harum, dignissimos
				</p>
			</div>
		</div>
	</div>
</div>
