{% if subscription_form and not request.session.subscribed %}
<section id="contact" class="contact mb-5">
	<div class="container" data-aos="fade-up">
		<form action="/subscribe" method="post" role="form" class="php-email-form">
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-md-6">
					<input
						type="email"
						class="form-control rounded"
						name="{{ subscription_form.email.html_name }}"
						id="{{ subscription_form.email.auto_id }}"
						placeholder="Your Email"
						required
					/>
				</div>
				<div class="form-group col-md-6">
					<button type="submit" class="btn btn-secondary">Subscribe!</button>
				</div>
			</div>
		</form>
	</div>
	<!-- End Contact Form -->
</section>
{% endif %}
