.header-title {
	margin: 0 0 0 0.2em;
}

.post-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-header .bookmark {
	font-size: 2em;
}

.post-entry-1 {
	margin-bottom: 30px;
	display: inline-block;
	padding: 1em;
	vertical-align: top;
}

.post-entry-1 .img-fluid {
	margin-bottom: 30px;
	min-height: 14em;
	object-fit: cover;
}

.single-post-content .img-fluid {
	width: 100%;
	margin-bottom: 3em;
}

.btn-reply {
	margin-top: 2em;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 12px;
	letter-spacing: 0.07rem;
	text-transform: uppercase;
	font-weight: 600;
	font-family: var(--font-secondary);
	cursor: pointer;
}

.btn-reply:hover {
	background: black;
	color: white;
}

.posts-list {
	margin-bottom: 10em;
}

.author {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.author img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: solid 1px black;
	object-fit: cover;
	margin-bottom: 1em;
}

.author .info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact {
	padding: 0;
	margin-top: 10em;
}

.contact .php-email-form {
	padding: 0;
	background: transparent;
	box-shadow: none;
}

.contact .php-email-form button[type="submit"] {
	background: var(--bs-link-color);
}

.search-form {
	margin-left: 1em;
}

.logged-in-user {
	margin: 0 1em 0 0;
}

.logged-in-img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	border: solid 1px black;
	margin-right: 1em;
}

.avatar-img {
	border: solid 1px black;
}

.login-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form-container > form {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 8em;
}

.login-form-container .register-link {
	text-align: center;
	color: var(--bs-link-color);
	padding: 1em;
}
